<div class="unselectable" style="text-align:center">
  <div class="app-main">
    <div class="app-header">
      <div class="app-table width-100">
        <div class="app-row">
          <div class="app-cell padding-top-3">
            <div class="logo"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="reservations-header">
      <div class="width-1024-px inline-flex">
        <div class="width-500-px inline-flex">
          <div class="padding-left-10">
            <div class="app-table">
              <div class="app-row">
                <div class="app-cell" style="vertical-align:middle; padding: 1px 3px 0 0;">
                  <span class="cursor-pointer" (click)="toggleSelect(true)">
                    <fa-icon [icon]="['far', 'square']" *ngIf="!selectAll"></fa-icon>
                    <fa-icon [icon]="['far', 'check-square']" *ngIf="selectAll"></fa-icon>
                  </span>
                </div>
                <div class="app-cell">
                  <span class="cursor-pointer" (click)="toggleSelect(true)">
                    select all
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-left-10">
            <div class="app-table">
              <div class="app-row">
                <div class="app-cell" style="vertical-align:middle; padding: 1px 3px 0 0;">
                  <span class="cursor-pointer" (click)="cancel()">
                    <fa-icon [icon]="['fas', 'times-circle']"></fa-icon>
                  </span>
                </div>
                <div class="app-cell">
                  <span class="cursor-pointer" (click)="cancel()"> cancel </span>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-left-10">
            <span class="cursor-pointer" (click)="fulfill()">
              <fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon> fulfill
            </span>
          </div>
        </div>
        <div style="width: 524px;">
          <div class="padding-right-8 float-right">
            <div class="app-table">
              <div class="app-row">
                <div class="app-cell" style="vertical-align:middle; padding: 1px 3px 0 0;">
                  <span class="cursor-pointer" (click)="add()">
                    <fa-icon [icon]="['fas', 'plus-circle']" style="font-size: 18px;"></fa-icon>
                  </span>
                </div>
                <div class="app-cell">
                  <span class="cursor-pointer" (click)="openAddModal()"> add </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reservations-body">
      <div class="reservations-list">
        <div class="reservations-list-header app-table">
          <div class="app-row">
            <div class="app-cell padding-left-5" style="width: 24px;">
            </div>
            <div class="app-cell" style="width: 966px; font-size: 18px;">
              <span *ngIf="reservations.length === 0">no reservations to show</span>
            </div>
          </div>
        </div>
        <div class="reservations-list-body app-table">
          <div class="app-row" *ngFor="let reservation of reservations">
            <div class="app-cell">
              <span class="cursor-pointer" (click)="toggleSelect(false, reservation)">
                <fa-icon [icon]="['far', 'square']" *ngIf="!selectAll && !reservation.selected"></fa-icon>
                <fa-icon [icon]="['far', 'check-square']" *ngIf="selectAll || reservation.selected"></fa-icon>
              </span>
            </div>
            <div class="app-cell">
              {{reservation.name}}
            </div>
            <div class="app-cell">
              {{reservation.dateAndTime}}
            </div>
            <div class="app-cell">
              {{reservation.partySize}}
            </div>
            <div class="app-cell">
              {{reservation.status.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
